################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BingImageCLI/.vs/BingImageCLI
/BingImageCLI/bin/Debug/net5.0
/BingImageCLI/obj
